<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>PDF Uploader</title>
</head>

<body>
    <div id="spinner" style="display: none;">
    </div>
    <h1>Sube el fichero PDF</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="pdf"><br><br>
        <input type="submit" value="Upload">
    </form>
    <h1>Envia la peticion al modelo gpt3.5-turbo</h1>
    <form onsubmit="event.preventDefault(); sendPrompt();">
        <input class="input-prompt" type="text" id="prompt" placeholder="Escribe tu pregunta"><br><br>
        <input type="submit" value="Send Prompt">
    </form>
</body>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="crossorigin="anonymous"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    // Esto imprimirá en la consola cuando el cliente se conecte con éxito al socket
    socket.on('connect', function() {
        console.log('Conectado al servidor.');
    });

    function sendPrompt() {
        var prompt = document.getElementById('prompt').value;

        // Muestra el loader.
        document.getElementById('spinner').style.display = 'block';

        // Envía el texto al servidor.
        socket.emit('generate_summary', prompt);
    }

    // Escucha el evento 'new_summary' y oculta el loader cuando recibas la respuesta.
    socket.on('new_summary', function (summary) {
        // Oculta el loader.
        document.getElementById('spinner').style.display = 'none';

        // Añade el nuevo resumen a la página.
        var p = document.createElement('p');
        p.textContent = summary;
        document.body.appendChild(p);
    });

    // escucha el evento pdf_processed y muestra el mensaje cuando el archivo se ha subido correctamente
    socket.on('pdf_processing_done', function (message) {
        // Esto imprimirá el mensaje en la consola cuando se reciba el evento 'pdf_processing_done'
        console.log('Mensaje recibido: ', message);

        var p = document.createElement('p');
        p.textContent = message;
        alert(message);
        document.body.appendChild(p);
    });


    // socket.on('pdf_processed', function (message) {
    //     // Esto imprimirá el mensaje en la consola cuando se reciba el evento 'pdf_processed'
    //     console.log('Mensaje recibido: ', message);

    //     var p = document.createElement('p');
    //     p.textContent = message;
    //     alert(message);
    //     document.body.appendChild(p);
    // });
</script>


</html>